@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url(../fonts/Roboto-Regular.ttf);
}

html, body {
    height: 100%;
}

footer {
    user-select: none;

    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 2px 5px;

    background: #00000062;
    font-family: Roboto, sans-serif;
    color: white;

    display: flex;
    justify-content: space-between;
}

.bg1 {
    background: url(../images/bg1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bg2 {
    background: url(../images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#global-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 750px;
    min-height: 250px;

    padding: 2em;

    user-select: none;

    background: white;
    border-radius: 3em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);

    font-family: Roboto, sans-serif;
}

.main-container {
    min-width: 700px;
    min-height: 600px;
}

.container_wrapper {
    min-height: inherit;
    min-width: inherit;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-container_wrapper {
    min-width: initial;
    width: 400px;

    margin: 0 auto;
    align-items: stretch;
}

#aumsu-logo {
    width: 250px;
    pointer-events: none;
    align-self: center;
}

#main-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3em;
}

#main-form .select-wrapper {
    width: 100%;
    padding-right: 14px;
    margin-bottom: 2em;

    box-sizing: border-box;
    position: relative;
}

#main-form .select-wrapper::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;

    border: 5px solid transparent;
    border-top: 8px solid black;
}

#main-form select {
    font-family: Roboto, sans-serif;
    width: 100%;
    padding: 5px 0 0;

    font-size: 12pt;

    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: white;
    appearance: unset;

    cursor: pointer;

    transition: background 0.1s ease;
}

#main-form select:hover {
    background: #e7e7e7;
}

#main-form label {
    font-size: 18pt;
    margin-bottom: 0.3em;
}

.button {
    height: 60px;

    border: none;
    border-radius: 0.4em;
    background: #007CC3;
    box-shadow: 0 3px 0 #1e588f;
    text-shadow: 0 2px 0 #1e588f;

    outline: none;

    font-family: Roboto, sans-serif;
    font-size: 20pt;
    color: white;

    cursor: pointer;
}

.button:focus {
    border: 2px solid #d6d6d6;
}

.button:hover {
    background:#5cb0e0;
    box-shadow: 0 3px 0 #4986be;
    text-shadow: 0 2px 0 #4986be;

    border-color: transparent;

    transition: all 0.1s ease-out;
}

.button:active {
    background:#c8ebff;
    box-shadow: 0 3px 0 #7eb3e6;
    text-shadow: 0 2px 0 #7eb3e6;

    transition: all 0.05s ease-out;
}

.fixed-width-1 {
    width: 250px;
}

.fixed-width-2 {
    width: 200px;
}

.fixed-width-3 {
    width: 480px;
}

.hidden {
    display: none;
}

.title {
    font-size: 26pt;
}

.title-2 {
    font-size: 30pt;
}

.vertical_center {
    min-height: inherit;
    display: flex;
    align-items: center;
}

#test-buttons {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: 3em 0;
}

#main-form select:focus {
    outline: 2px solid #d6d6d6;
}

.test-button {
    margin: 0.15em 0;
    height: 40px;

    font-size: 18pt;

    background: #2FA72C;
    box-shadow: 0 3px 0 #0B8109;
    text-shadow: 0 2px 0 #0B8109;
}

.back-button {
    background: #BEBEBE;
    box-shadow: 0 3px 0 #888888;
    text-shadow: 0 2px 0 #888888;
}

.desc-wrapper {
    min-height: inherit;
}

.test-description {
    font-size: 18pt;
    text-align: justify;

    margin-top: 1em;
    color: #585858;
}

.begin-button {
    background: #2FA72C;
    box-shadow: 0 3px 0 #0B8109;
    text-shadow: 0 2px 0 #0B8109;
}

.finish-button {
    margin-left: 20px;

    background: #88d15e;
    box-shadow: 0 3px 0 #52a026;
    text-shadow: 0 2px 0 #52a026;
}

.mini-height-button {
    height: 40px;
}

.header {
    font-size: 18pt;
    color: #585858;

    display: flex;
    justify-content: space-between;
}

.footer {
    min-width: inherit;
    min-height: 40px;

    display: flex;
    justify-content: space-between;
}

.align_center {
    justify-content: center;
}

.footer-content-wrapper_right {
    display: flex;
}

#current-question {
    margin-top: 0.7em;
    align-self: stretch;

    font-size: 22pt;
    line-height: 30pt;
    padding-bottom: 1em;
}

#simple-answers {
    min-width: inherit;
    padding-bottom: 1.7em;

    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: stretch;
}

.yes-button,
.no-button {
    margin: 0.2em 0;
}

.yes-button {
    color: #898989;
    background: #e4e4e4;
    box-shadow: 0 3px 0 #cbcbcb;
    text-shadow: 0 2px 0 #cbcbcb;
}

.no-button {
    color: #6f6f6f;
    background: #d1d1d1;
    box-shadow: 0 3px 0 #b7b7b7;
    text-shadow: 0 2px 0 #b7b7b7;
}

.yes-button:hover,
.no-button:hover {
    color: white;
}

.answered {
    color: #46401f;
    background: #ffea71;
    box-shadow: 0 3px 0 #ceb52c;
    text-shadow: 0 2px 0 #ceb52c;
}

.answered:hover {
    color: white;
    background: #d4c04e;
    box-shadow: 0 3px 0 #ac9b3b;
    text-shadow: 0 2px 0 #ac9b3b;
}

.answered:active {
    color: black;
    background: #fff5ba;
    box-shadow: 0 3px 0 #e4d372;
    text-shadow: 0 2px 0 #e4d372;
}
